---
import Navbar from "../components/Navbar.astro";
import Landing from "../components/Landing.astro";
import Carousel_initatives from "../components/Carousel_initiatives.astro";
import Carousel_projects from "../components/Carousel_projects.astro";
import Carousel_news from "../components/Carousel_news.astro";
import Carousel_videos from "../components/Carousel_videos.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

import initiatives from "../configs/initiatives.json";
import projects from "../configs/projects.json";
import news from "../configs/news.json";
import videos from "../configs/videos.json";
import { Bike, Brush, GraduationCap, Leaf, Sprout, Globe , Clipboard , ChartNoAxesCombined , BookText, Mail, MapPin } from "lucide-astro";
import CarouselVideos from "../components/Carousel_videos.astro";
import GridVideos from "../components/Grid_videos.astro";
---

<Navbar />
<Landing />
<div class="bg-white flex flex-col">
    <!-- Director's Message -->
    <div class="flex flex-col-reverse lg:flex-row w-fit m-8 p-8 justify-around align-middle">
        <img src="/assets/director.png" class="hidden lg:block w-2/5 h-2/5 z-10" />
        <div class="w-full lg:ml-8 p-2 my-auto items-center">
            <span class="text-4xl lg:text-2xl font-bold">Message from our Director</span>
            <img src="/assets/director.png" class="block mt-8 lg:mt-0 lg:hidden w-full aspect-square z-10" />
            <p class="mt-8 font-light">
                Dear friends,
                <p class="mt-4 font-light">
                    As we journey towards a sustainable future through
                    Inventing & Innovating in Technology for Humanity (IITH), I am delighted
                    to showcase IITH's initiatives aligned with the UN's 17 SDGs. Our
                    institution has made significant strides in achieving sustainability
                    goals, which an admirable progress. Today, I emphasize our commitment to
                    key aspects of our Sustainability Policy, including promoting
                    innovation, addressing the SDGs, and striving for a greener and more
                    equitable world. Together, we can make a lasting impact and contribute
                    to a better future for all.
                </p>
                <a href="https://sustainability.iith.ac.in/assets/img/director%20msg.pdf" class="text-emerald-600">Read more....</a>
            </p>
        </div>
    </div>
    <!-- About IITH Sustainability -->
    <section id="about">
        <div class="flex flex-col-reverse lg:flex-row w-fit m-8 p-8 justify-around align-middle">
            <img src="/assets/hostels.png" class="hidden lg:block w-2/5 h-2/5 z-10" />
            <div class="w-full lg:ml-8 p-2 my-auto">
                <span class="text-4xl lg:text-2xl font-bold">About IIT Hyderabad Sustainability</span>
                <img src="/assets/hostels.png" class="block mt-8 lg:mt-0 lg:hidden w-full z-10" />
                <p class="mt-8 font-light flex flex-col gap-2">
                    <span>
                    IIT Hyderabad is at the forefront of sustainability, addressing climate change through innovative research, practical actions, and capacity building. With a vision to create an eco-friendly campus, IITH integrates cutting-edge technology with impactful initiatives to reduce its environmental footprint and inspire global climate action.
                    </span><span>
                    Recognized for its efforts, IITH received the Haritha Haram Award in 2022, presented by Shri K T Rama Rao, Honorable Minister of Telangana, for its commitment to green practices. Strengthening its focus on sustainability, IITH partnered with Greenko to establish the School for Sustainable Science and Technology, advancing research in renewable energy, waste management, and environmental resilience.
                    </span><span>
                    On campus, sustainability is embedded in daily operations. The 1 MW solar power plant, radiant cooling system, and zero waste policy demonstrate IITH’s dedication to eco-friendly infrastructure. Initiatives like biodigesters, composting, and wastewater recycling ensure efficient resource management.
                    </span><span>
                    Students play a vital role in sustainability, participating in clean-up drives, plantation activities, and cycling promotion programs. These efforts cultivate a culture of environmental responsibility.
                    </span><span>
                    With its innovative practices and active student involvement, IIT Hyderabad is paving the way for a greener future, inspiring sustainable living across the globe
                    </span>
                </p>
            </div>
        </div>
    </section>

    <!-- Our Sustainability Initiatives -->
    <section id="initiatives" class="w-[80%] flex flex-col items-center gap-4">
        <span class="text-2xl text-center font-bold">Our Sustainability Initiatives</span>
        <Carousel_initatives data={initiatives} isImaged={false}/>
    </section>
    <!-- Featured Projects -->
    <section id="projects" class="w-[80%] flex flex-col items-center gap-4">
        <span class="text-2xl text-center font-bold">Featured Projects</span>
        <Carousel_projects data={projects} isImaged={true}/>
    </section>
    <!-- Targets -->
    <section id="targets">
        <div class="flex flex-col bg-[url('/assets/hostels2.png')] w-full py-12 lg:py-24 text-white bg-cover mt-12">
            <span class="text-4xl lg:text-2xl font-bold text-white underline text-center w-full">
                Targets for Future
            </span>
            <p class="w-1/2 text-white text-2xl lg:text-md text-center mx-auto mt-4">
                IITH has taken several steps to realize its aspirations to play a leadership role in evolving and undertaking climate positive frameworks and actions. To this end, the Institute has established a Climate Action Committee tasked with further developing a holistic framework to shape its short-term and long-term Climate Action Plan along with specified targets and measurable impacts.
            </p>
        </div>
    </section>
    <!-- Student Engagement -->
    <section id="student-led-activities" class="flex flex-col items-center gap-4 m-6">
        <div class="flex flex-col lg:flex-row w-full lg:p-4 justify-around items-center">
            <div class="flex flex-col lg:max-w-lg">
                <div class="text-4xl lg:text-2xl font-bold mb-4 text-center">Student Engagement in Sustainability</div>
                <img src="/assets/sideImg.png" class="block lg:hidden w-full rounded-lg"/>
                <ul class="space-y-6 lg:space-y-4 mt-4">
                    <li class="flex items-start space-x-3 text-3xl lg:text-lg">
                        <Brush class="text-emerald-600 lg:scale-75"/>
                        <div>
                            <span class="font-bold">Monthly Clean-up Drives</span>
                            <p class="text-gray-600">Regular campus clean-up initiatives led by student volunteers.</p>
                        </div>
                    </li>
                    <li class="flex items-start space-x-3 text-3xl lg:text-lg">
                        <Sprout class="text-emerald-600 lg:scale-75"/>
                        <div>
                            <span class="font-bold">Plantation Events</span>
                            <p class="text-gray-600">Regular tree plantation drives to enhance campus greenery.</p>
                        </div>
                    </li>
                    <li class="flex items-start space-x-3 text-3xl lg:text-lg">
                        <Bike class="text-emerald-600 lg:scale-75"/>
                        <div>
                            <span class="font-bold">Cycling Culture</span>
                            <p class="text-gray-600">Reimbursement scheme to promote bicycle usage on campus.</p>
                        </div>
                    </li>
                    <li class="flex items-start space-x-3 text-3xl lg:text-lg">
                        <Leaf class="text-emerald-600 lg:scale-75"/>
                        <div>
                            <span class="font-bold">Prakriti Club</span>
                            <p class="text-gray-600">A club for nature enthusiasts to contribute effortlessly.</p>
                        </div>
                    </li>
                    <li class="flex items-start space-x-3 text-3xl lg:text-lg">
                        <GraduationCap class="text-emerald-600 lg:scale-75"/>
                        <div>
                            <span class="font-bold">Prayas - The Rural Developing Club</span>
                            <p class="text-gray-600">Focuses on holistic growth and rural community development.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <img src="/assets/sideImg.png" class="hidden lg:block w-1/3 rounded-lg"/>
        </div>
    </section>

    <!-- Video Highlights -->
    <section id="videos" class="w-[80%] flex flex-col items-centre mx-auto my-10 gap-4">
        <span class="w-full flex justify-center text-2xl font-bold gap-4 mx-auto"> <hr class="w-40 my-auto" /> Video Highlights of Our Progress <hr class="w-40 my-auto" /> </span>
        <!-- <Carousel_videos data={videos} isImaged={true}/> -->
        <GridVideos videos={videos} />
    </section>

    <!-- Achievements of IITH -->
    <div class="flex flex-col-reverse lg:flex-row w-full p-12 justify-center">
        <img src="/assets/IGH.png" class="hidden lg:block w-1/3 rounded-lg shadow-lg" />
        <div class="flex flex-col lg:w-1/2 pl-12">
            <h2 class="text-4xl lg:text-2xl font-bold mb-6 lg:underline mx-auto">Achievements Of IIT-H</h2>
            <img src="/assets/IGH.png" class="block lg:hidden rounded-lg shadow-lg" />
            <div class="flex gap-12 mt-12">
                <div>
                    <p class="text-4xl lg:text-2xl font-bold">30000+</p>
                    <p class="text-2xl lg:text-md">
                        <strong>Trees Planted</strong> <br />
                        Plantation Drive - First Saturday of every month we organize a plantation drive.
                    </p>
                </div>
                <div>
                    <p class="text-4xl lg:text-2xl font-bold">15+</p>
                    <p class="text-2xl lg:text-md">
                        <strong>Years of experience</strong> <br />
                        In upcoming years, we will try to contribute more towards sustainable development.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Latest Events and News -->
    <section id="events" class="w-[80%] flex flex-col items-center gap-4">
        <span class="text-2xl text-center font-bold">Latest Events and News</span>
        <Carousel_news data={news} isImaged={false}/>
    </section>
    <!-- Resources -->
    <div class="flex flex-col scale-90">
        <div class="text-3xl text-left font-bold">
            Resources
        </div>
        <div class="flex gap-4 mt-8">
            <div class="bg-white p-4 shadow-2xl text-lg text-black font-bold rounded-lg">
            <a href="https://sustainability.iith.ac.in/assets/img/sus%20policy.pdf" target="_blank" rel="noopener noreferrer" class="block">
                <BookText class="text-emerald-600 mb-2"/>
                Sustainable Practices 
                <br>
                Policy - IITH
            </a>
            </div>
            <div class="bg-white p-4 shadow-2xl text-lg text-black font-bold rounded-lg">
                <a href="https://people.iith.ac.in/uba/" target="_blank" rel="noopener noreferrer" class="block">
                    <ChartNoAxesCombined class="text-emerald-600 mb-2"/>
                Unnat Bharat Abhiyan - IITH
            </a>
            </div>
            <div class="bg-white p-4 shadow-2xl text-lg text-black font-bold rounded-lg">
                <a href="https://sustainability.iith.ac.in/zeroliq.html" target="_blank" rel="noopener noreferrer" class="block">
                    <Clipboard class="text-emerald-600 mb-2"/>
                Zero Liq. Discharge Plant - IITH    
            </a>
            </div>
            <div class="bg-white p-4 shadow-2xl text-lg text-black font-bold rounded-lg">
                <a href="https://cc.iith.ac.in/" target="_blank" rel="noopener noreferrer" class="block">
                    <Globe class="text-emerald-600 mb-2"/>
                Climate Change - IITH
                </a>
            </div>
        </div>
    </div>
    <!-- Contact -->
    <div class="flex flex-col lg:pl-18 mt-12 text-center lg:text-left">
        <h2 class="text-4xl lg:text-xl font-bold">Contact</h2>
        <h3 class="text-4xl lg:text-2xl font-bold mt-1">OFFICE OF SUSTAINABILITY</h3>

        <div class="mt-4 space-y-3 ">
            <div class="flex justify-center lg:items-start">
                <MapPin class="w-5 h-5 mt-1 mr-2" />
                <p class="text-2xl lg:text-lg w-1/2 lg:w-full text-left">
                    <strong>Location:</strong> <br />
                    Indian Institute of Technology Hyderabad, Kandi, Sangareddy, Telangana-502284
                </p>
            </div>

            <div class="flex justify-center lg:items-start">
            <Mail class="w-5 h-5 mt-1 mr-2" />
            <p class="text-2xl lg:text-lg w-1/2 lg:w-full text-left">
                <strong>Email:</strong> <br />
                <a href="mailto:nodal.qs@iith.ac.in" class="text-blue-600">
                nodal.qs@iith.ac.in
                </a>
            </p>
            </div>
        </div>
    </div>
</div>
<Footer />
