---
import "keen-slider/keen-slider.min.css";
const { data = [], isImage = false } = Astro.props;
---

<div id="projects-carousel" class="keen-slider flex gap-4">
    {data.map((item, index) => (
        <div class="keen-slider__slide bg-white text-xl max-w-xs md:max-w-sm text-black shadow-xl p-6 font-bold rounded-lg mb-12" key={index}>
            { (
                <img 
                    src={'/assets/project_pics/' + item.smallImgsrc} 
                    onerror="this.src='/assets/project_pics/pic_def.png';" 
                    alt={item.title} 
                    class="mb-4 rounded-md object-cover w-full h-48"
                />
            )}
            <h3 class="text-lg font-semibold">{item.title}</h3>
            <p class="font-light text-sm mb-2">{item.description}</p>
            <a href={item.readMoreHref} class="text-emerald-600 font-light text-sm">
                Read More ->
            </a>
        </div>
    ))}
</div>

<script>
    import KeenSlider from 'keen-slider';

    const slider = new KeenSlider('#projects-carousel', {
        slides: {
            perView: 1.25,
            spacing: 30,
        },
        breakpoints: {
            '(min-width: 768px)': {
                slides: {
                    perView: 2.5,
                    spacing: 20,
                },
            },
            '(min-width: 1024px)': {
                slides: {
                    perView: 3.5,
                    spacing: 20,
                },
            },
        },
    });
</script>
